<h1> Listing Categories <%= @categories.length %> </h1>

<ol>
	<% @categories.each do |category|%>
		<li><%= link_to category.name , category_path(category.id)%></li>
	<%end%>	
</ol>
<% if user_signed_in? && current_user.is_admin %>
	<%= link_to "Add Category" , "categories/new" %>
<% end -%>